@import "./base.css";

#app {
  max-width: 1300px;
  margin: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #000100c9;
  transition: 0.4s;
}
button a {
  color: #f1ada7;
}

@media (hover: hover) {
  .icons a:hover {
    background-color: transparent;
  }
  a:hover {
    background-color: #c6cec7;
  }

  button:hover a {
    background-color: transparent;
    color: #651a13;
  }
  button:hover {
    background-color: #f1ada7;
  }
  button:focus a {
    color: #651a13;
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
